
= form_for @movie do |f|

  .form_row
    = f.label :title, "Titulo"
    = f.text_field :title

  .form_row
    = f.label :description, "Descripcion"
    = f.text_field :description

  .form_row
    = f.label :price, "Precio"
    = f.number_field :price 

  .form_row
    = f.label :released_at, "Fecha Salida"
    = f.date_field :released_at

  .form_row
    = f.submit
