%h1= @movie.title
%p
  %strong Descripcion
  = @movie.description
%p
  %strong Precio
  = @movie.decorate_price
%p
  %strong Disponible
  = @movie.available
%p
  %strong Fecha Salida
  = @movie.decorate_released_at

= link_to "Editar Pelicula", edit_movie_path