%h2= @movie.title
%p
  %strong Descripcion
  = @movie.description
%p
  %strong Precio
  = @movie.decorate_price
%p
  %strong Disponible
  = @movie.available
%p
  %strong Fecha Salida
  = @movie.decorate_released_at


//new_user_stream_path(@user)
%p= link_to "Ver Streams", movie_streams_path(@movie)
%p= link_to "Editar Pelicula", edit_movie_path