- if flash[:notice].present?
  .notice= flash[:notice]

%h2= "#{@user.name}".upcase

%p
  %strong Email
  = @user.email
%p
  %strong Año nacimiento
  = @user.year_birth

%p
  Listado de Streams del susuario

- if @user.streams.any?
  %table{border:"1"}
    %tr
      %th Titulo
      %th Precio     
      %th 
    =render partial: "streams", collection: @user.streams
- else
  %em No hay streams para este usuario

-#= render partial: "streams", locals: { stream: @user.streams }

%p= link_to "Nuevo Stream", new_user_stream_path(@user)
%p= link_to "Editar Usuario", edit_user_path(@user)

