- if flash[:notice].present?
  .notice= flash[:notice]

%h2= "#{@user.name}".upcase

%p
  %strong Email
  = @user.email
%p
  %strong Año nacimiento
  = @user.year_birth

%p
  Listado de Streams del usuario

- if @user.streams.any?
  = render partial: "shared/filter_form", locals: {form_path: user_path(@user)}
        
  .js_filtered_table
    = render partial: "table", locals: {streams: @streams}
- else
  %em No hay streams para este usuario

-#= render partial: "streams", locals: { stream: @user.streams }

%p= link_to "Nuevo Stream", new_user_stream_path(@user)
%p= link_to "Editar Usuario", edit_user_path(@user)

