= render partial: "shared/errors", locals: {obj: @stream}

%p Ingresa los datos de la nueva stream

= form_for [@user, @stream] do |f|
  .field
    = f.label :movie_id, "Pelicula"
    = f.collection_select :movie_id, Movie.where("available = ?",true).distinct, :id, :title,{}    
 
  %br
  .field
    = f.submit
