- if flash[:notice].present?
  .notice= flash[:notice]

%h1= "#{@user.name}"

%p
  %strong Email
  = @user.email
%p
  %strong Año nacimiento
  = @user.year_birth

= render partial: "songs", locals: { songs: @user.streams }

%p= link_to "Nuevo Stream", new_user_song_path(@user)
%p= link_to "Editar Usuario", edit_usuario_path(@user)

