<!DOCTYPE html>
<html>
<head>
  <title>VideoClub</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
  <h1>VideoClub</h1>
</div>
<div id="topnav">
  <ul id="topnavlist">
    <li><%= link_to "Home", root_path %></li>
    <% if current_user.present? %>
      <li><%= link_to "Movies", movies_path %></li>
      <li><%= link_to "Generos", genres_path %></li>
      <li><%= link_to current_user.try(:email), user_path(current_user.try(:id)) %>, <%= link_to "Logout", logout_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to "SignUp", new_user_path %></li>
      <li><%= link_to "Login", login_path %></li>
    <%end%>  
  </ul>
</div>
<div id="gutter"></div>

<div id="col1">
  <h2>Publicidad</h2>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla congue, velit tristique mattis auctor, velit elit euismod diam, a interdum tortor enim eget ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla congue, velit tristique mattis auctor, velit elit euismod diam, a interdum tortor enim eget ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
</div>

<div id="col2">
  <%= yield %>
</div>

<div id="col3">
  <h2>Publicidad</h2>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla congue, velit tristique mattis auctor, velit elit euismod diam, a interdum tortor enim eget ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla congue, velit tristique mattis auctor, velit elit euismod diam, a interdum tortor enim eget ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  <ul>
    <li><a href="#">CSS Drive</a></li>
    <li><a href="#">CSS play</a></li>
    <li><a href="#">Style Gala</a></li>
    <li><a href="#">Listamatic</a></li>
  </ul>
</div>

<div id="footer"> 
    | <%= link_to "Home", root_path %>
    <% if current_user.present? %>
      | <%= link_to "Movies", movies_path %>
      | <%= link_to "Generos", genres_path %>
      | <%= link_to current_user.try(:email), user_path(current_user.try(:id)) %>, <%= link_to "Logout", logout_path, method: :delete, class: "logout" %> |
    <% else %>
      | <%= link_to "SignUp", new_user_path %>
      | <%= link_to "Login", login_path %>
    <%end%>
  | &copy; 2015 Desarrollo Web | Design by <a href="#">Videoclub Soft</a><br/>
</div>

</body>
</html>
